.bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url(./img2.jpg);
  /* background-image: url(./img1.png); */
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.text {
  color: #fff;
  font-size: 24px;
  margin: 0 auto;
  text-align: left;
  margin-left: 50px;
  position: absolute;
  top: 30%;
  padding: 16px;
}
h2 {
  color: crimson;
}
