.navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  /* background-color: #047883; */
  background-color: #01152d;
  color: #fff;
  /* box-shadow: -1px 36px 25px 6px rgba(30, 30, 60, 0.33); */
  z-index: 100;
}
.logo {
  font-size: 30px;
  margin-left: 10px;
  padding: 16px;
}
.nav-links {
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}
