@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background: #02152f; */
  background: #020c41;
  overflow-x: hidden;
}
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #fff;
}
::-webkit-scrollbar {
  width: 0em;
}

/* ::-webkit-scrollbar-track {
  background: #b4c5f1;
}
::-webkit-scrollbar-thumb {
  background: #102252;
  border-bottom: 5px;
} */
@supports (scrollbar-color: #b4c5f1 #102252) {
  * {
    scrollbar-color: #b4c5f1 #102252;
  }
}
.container {
  height: 100vh;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.content {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #102252; */
  background: #020c41;
  z-index: -10;
}
.project-title {
  letter-spacing: 1.9px;
}
@media only screen and (max-width: 980px) {
  .container {
    width: 100%;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
